@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
#root {
    height: 100%;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in-left {
    animation: fadeInLeft 1s ease-out forwards;
}

.fade-in-right {
    animation: fadeInRight 1s ease-out forwards;
}

.fade-in {
    animation: fadeIn 2s ease-out forwards;
    animation-delay: 1s;
    opacity: 0;
}